# Android
.gradle/
**/build/
*.iml
.idea/
local.properties

# iOS
DerivedData/
*.xcuserstate
xcuserdata/
*.ipa
*.dSYM
*.dSYM.zip

# Sustav
.DS_Store
Thumbs.db

# Osjetljive datoteke
*.jks
*.keystore
*.p12
*.mobileprovision
